.box{
      border:solid 1px;
            width:400px;
            height:300px;
            position:absolute;
            top:200px;
            right:600px;
            border-radius: 10px; 
            background-image: url("wal1.jfif");
            -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
            box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
        }
        #start{
            margin-left: 150px;
            padding-right: 40px;
            padding-top: 12px;
            display: inline;
        }
        #stop{
            margin-left: 150px;
            padding-right: 40px;
            padding-top: 12px;
            display: none;
        }
        #reset{
            margin-left: 60px;
            padding-right: 40px;
            padding-top: 12px;
            display: none;
        }
        #resume{
            margin-left: 60px;
            padding-right: 40px;
            padding-top: 12px;
            display: none;
        }
        button{
            width: 100px;
        }
        input{
            margin-left: 90px;
            margin-top: 40px;
            width:200px;
            height: 25px;
        }
        p{
            font-weight:500;
            font-family: Verdana,Arial, Helvetica, sans-serif;
            font-size: 40pt;
            margin-left: 30px;
            margin-top: 0px;
            color: green;
        }
        body{
            background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
        }

        .button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}
.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.button2:hover {
  background-color: #f44336;
  color: white;
}
.textbox{
  height:40px;
  width:50%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  padding:10px;
  margin-bottom:30px;
}

.textbox:focus{
  outline:none;
   border:rgba(24,149,215,1) 2px solid;
   color:rgba(24,149,215,1);
}